.works{
    padding-top: 120px;
    &__heading{
        margin: 0;
        padding: 0;
        font-weight: 800;
        font-size: 70px;
        line-height: 105px;
        text-align: center;
        color: #1C2323;
        padding-bottom: 20px;
    }
    &__desc{
        margin: 0;
        padding: 0;
        max-width: 509px;
        min-height: 90px;
        margin: auto;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #404242;    
        padding-bottom: 71px;
    }
    &__center{
        padding-bottom: 150px;
        display: flex;
        justify-content: space-between;
    }
    &__ovel{
        position: absolute;
        left: 1110px;
        top: 1490px;
    }
    &__center-left{
        max-width: 849px;
        background: #CCF0E6;
    }
    &__center-left-heading{
        max-width: 328px;
        padding-top: 71px;
        padding-bottom: 41px;
        
    }
    &__span{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #486958;
    }
}